{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Defined Terms{% endblock %}</h2>
{% endblock %}

{% block content %}
   <p> <a href = "/defined/a">A</a> | <a href = "/defined/b">B</a> | <a href = "/defined/c">C</a> | <a href = "/defined/d">D</a> | <a href = "/defined/e">E</a> | <a href = "/defined/f">F</a> | <a href = "/defined/g">G</a> | <a href = "/defined/h">H</a> | <a href = "/defined/i">I</a> | <a href = "/defined/j">J</a> | <a href = "/defined/k">K</a> | <a href = "/defined/l">L</a> | <a href = "/defined/m">M</a> | <a href = "/defined/n">N</a> | <a href = "/defined/o">O</a> | <a href = "/defined/p">P</a> | <a href = "/defined/q">Q</a> | <a href = "/defined/r">R</a> | <a href = "/defined/s">S</a> | <a href = "/defined/t">T</a> | <a href = "/defined/u">U</a> | <a href = "/defined/v">V</a> | <a href = "/defined/w">W</a> | <a href = "/defined/x">X</a> | <a href = "/defined/y">Y</a> | <a href = "/defined/z">Z</a></p>
   <p>{{ num_words }} Terms Defined</p>
            <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Definition</h3>
         ID#: {{ term[0] }}<br><br>Term: </nbsp>
         <input type = "text" name = "term" value="{{ term[1] }}" /></br></br>

         Definition<br>
         <textarea name = "defin" rows="4" cols="100" >{{ term[3] }}</textarea><br>

         <br>Past of Speech<br>
         <select name="pos">
		  <option value="Adjective"{% if term[2] == "Adjective" %}selected{% endif %}>Adjective</option>
		  <option value="Adverb"{% if term[2] == "Adverb" %}selected{% endif %}>Adverb</option>
		  <option value="Noun"{% if term[2] == "Noun" %}selected{% endif %}>Noun</option>
		  <option value="Verb"{% if term[2] == "Verb" %}selected{% endif %}>Verb</option>
		 </select><br><br>
         <input type = "submit" value = "submit" /><br>
      </form>
{% endblock %}
