{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Quiz{% endblock %}</h2>
{% endblock %}

{% block content %}
  <form action = "{{ url_for('quiz')  }}" method = "POST">

	{% for key in quizd %}
		<hr>{{ key }}
		<ul>

		{%for x in range(4)%}
			<input type="radio" name="{{ quizd[key][4] }}" value="{% if quizd[key][x][2] == 0 %}{{ quizd[key][x][1] }}">{% else %}NULL">{% endif %}{{ quizd[key][x][1] }}
			<br>
		{% endfor %}
		<input type="hidden" name=""{{ key }}" value={{quizd[key][4]}}>
		</ul>
	{% endfor %}
	  <input type="hidden" name="quiz_id" value="{{ quiz_id }}">
	<input type="submit" value="Submit">
	</form>
{% endblock %}
