{% extends 'base.html' %}

{% block header %}
 <h2>{% block title %}<br>Overall Percentage Correct to Date : {{ oall }}{% endblock %}</h2>
{% endblock %}

{% block content %}
<br><p>Words wrong at least once:</p>
	  <table id="basictable">
         <thead>
            <td>Term</td>
            <td>Num Correct</td>
            <td>Num Total</td>

         </thead>
	  {% for row in rows %}
            <tr class="{{ loop.cycle('odd', 'even') }}">
               <td>{{row[0]}}</td>
               <td>{{row[1]}}</td>
               <td> {{ row[2]}}</td>
            </tr>
         {% endfor %}
      </table>
<br><br>
{% endblock %}